*,
*::before,
*::after {
  box-sizing: border-box;
} /*Isso garante que os elementos (como setinhas, overlays...) sigam o mesmo cálculo de largura/altura.*/

* {
  margin: 0;
  padding: 0;
  font: inherit; /*remover a margem e o espaçamento de todos os elementos HTML (parágrafos, divs, h1, body, etc.).*/
  -webkit-font-smoothing: antialiased; /*usado em Chrome/Safari. Deixa as fontes mais finas e suaves, forçando suavização em cinza.*/
  -moz-osx-font-smoothing: grayscale; /*usado no Firefox no macOS*/
}

img {
  max-width: 100%;
  display: inline-block;
}

:root {
  --bg-color: #09090b;
  --surface-color: #18181b;
  --stroke-color: #27272a;
  --text-color-secondary: #a1a1aa;
  --text-color-primary: #f4f4f5;
  --brand-gradient: #fc4a1a and #f7b733;
  --brand-color-primary: #f7b733;
  --brand-color-secondary: #fc4a1a;

  --font-family: "Inter", sans-serif;

  /*pro MOBILE*/
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-extrabold: 800;
  --font-size-sl: 0.875rem;
  --font-size-base-md: 1rem;
  --font-size-lg: 1.25rem; /* divide o px por 16 pra ter o rem*/
  --font-size-xl: 1.5rem;
  --font-size-2xl: 2.5rem;

  --padding-eixo-x-lg: 1.5rem;
  --padding-eixo-y-base: 1rem;
  --padding-eixo-y-lg: 1.5rem;
  --padding-eixo-y-xl: 3rem;
}

html {
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-md);
  line-height: 1.6; /*160%*/
  color: var(--text-color-primary);
}

body {
  background-color: var(--bg-color);
}

a:hover {
  background: linear-gradient(
    90deg,
    var(--brand-color-secondary) 0%,
    var(--brand-color-primary) 100%
  );

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

h1,
h2,
h3 {
  line-height: 1.2; /*120%*/
  color: var(--text-color-primary);
  font-weight: var(--font-weight-extrabold);
  letter-spacing: -0.04rem;
}

h1 {
  font-size: var(--font-size-2xl);
}

h2 {
  font-size: var(--font-size-xl);
}

h3 {
  font-size: var(--font-size-lg);
}

a {
  text-decoration: none;
  color: inherit; /*usado pra remover a cor azul e a barra de link, e deixa a cor usada no body*/
}

@media (width >= 80em) {
  /*quando a tela for maior ou igual a 80em(1280px), ou seja, DESKTOP, deve mudar para as propriedades listadas:*/
  :root {
    --font-size-lg: 2rem; /*tamanho (size) do modo DESKTOP, antes estava MOBILE*/
    --font-size-xl: 3rem;
    --font-size-2xl: 4rem;

    --padding-eixo-x-lg: 2rem;
    --padding-eixo-y-base: 1.5rem;
    --padding-eixo-y-lg: 2.5rem;
    --padding-eixo-y-xl: 5rem;
  }
}

ul[role="list"] {
  list-style: none; /*tira as bolinhas das listas, mas mostrando que ainda se trata de uma lista. * Mas precisa usar uma classe na lista: <ul role="list">*/
}
